@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-escuro: #0a2463ff;
    --verde: rgb(55, 255, 0);
--azul-claro: #3e92ccff;
--branco: #fffaffff;
--azul: rgb(0, 4, 255);
--preto: #1e1b18ff;
--vermelho: #ff0000;
--amarelo: #f6ff00;
--fonte-titulo:"Jacques Francois Shadow", serif;
--fonte-texto:"Roboto", sans-serif;
}


body{
    background-color: var(--azul-escuro);
    font-family: var(--fonte-texto);
    color: var(--vermelho);
    height: 100vh;
}
header{
    background-color: var(--preto);
    text-align: center;
}
h1 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: var(--vermelho);
    padding: 0.5em 0;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--vermelho);
    font-size: 2em;
    margin: 0 1em 0.5em 0;
}

nav a:hover {
    text-decoration: underline;
    color: var(--branco);
    transform: scale(0.9);
    transition: transform 0.2s;
}
.caixa-grafico{
    margin:5rem;
    font: 1,5rem;
    background:var(--azul-claro);
    padding: 2rem;
    border-radius: 25px;
    color: var(--branco);
    border: var(--branco);

}
.caixa-grafico__texto{
    font-size: 1.5rem;
    padding: 2em 0 2.5em 0;
}
span{
    font-family: var(--preto);
    color: var(--preto);
    font-size: 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
    color:var(--vermelho);
    width: 100%;
    height: 3em;
    margin-top: 3em;
    font-size: 1.5em;
    
}


